* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
}

.nav-logo {
    width: 277px;
    margin-top: 1.5rem;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.topmenu a {
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
}

.topmenu li {
    display: inline;
    margin: 2% 0;
    padding: 1% 0;
    text-align: right;
    line-height: 4rem;
    font-weight: 700;
    list-style-type: none;
}

.topmenu li {
    padding: 1rem
}

.topmenu li:hover {
    text-decoration: underline;
    background-color: #FE142F;
    color: #FFFFFF;
    border-radius: 0.5rem;
}

.topmenu li a:hover {
    color: #FFFFFF
}

.container-main {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: #232323;
    color: #FFFFFF;
    /* padding:2rem; */
    border-radius: 0.5rem;
}

.container-left {
    /* width:40%;*/
    z-index: 2;
}

.container-title {
    /* width:55%; */
    font-size: 3.5rem;
    padding: 2.5rem;
}

.container-text {
    /* width:45%; */
    padding-left: 2rem;
    font-size: 1rem;
    padding-top: 18rem;
}

.container-right {
    /* width:60%; */
}

.container-right img {
    border-radius: 0.5rem;
}

.title {
    width: 1000px;
    position: absolute;
    font-size: 7rem;
}

.button {
    background-color: #FE142F;
    color: #FFFFFF;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 190px;
    margin-top: 3rem;
    margin-left: 2rem;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
}

/********* Modal ***************/

input[type=text], input[type=email], input[type=date], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: #FE142F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form {
    border-radius: 5px;
    background-color: #232323;
    padding: 20px;
    font-family: 'DM Sans', sans-serif;
}

.button-sub {
    margin: 0 auto;
    text-align: center;
}

.button-sub input {
    text-align: center;
    width: 7rem;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #232323;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    font-size: 0.8rem;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.copyright {
    font-family: 'Roboto', sans-serif;
    margin-top: 3rem;
    color: #FE142F;
    font-weight: bold;
    margin-bottom: 2rem;
}

.fa {
    color: #FFFFFF;
    background-color: #FFFFFF;
}

#burger_checkbox {
    display: none;
}
.term1, .term2{
    margin-top:0.6rem;
    margin-bottom:0.6rem;
}
/*********media queries**********/

@media all and (min-width: 320px) and (max-width: 1024px) {
    .container {
        width: 90%;
        margin: 0 auto;
        padding-top: 2rem;
    }
    .nav-logo {
        width: 50%;
        margin-top: 0rem;
    }
    .container-main {
        display: flex;
        flex-direction: column;
        width: auto;
        background-color: #FFFFFF;
    }
    .container-left {
        background-color: #FFFFFF;
        color: black;
        margin: 0 auto;
    }
    .container-right {
        background-color: #FFFFFF;
        margin: 0 auto;
    }
    .container-right img {
        width: 100%;
        margin: 0 auto;
    }
    .title {
        width: 90%;
        font-size: 2.5rem;
    }
    .button {
        width: 70%;
        margin-left: 3rem;
        margin-bottom: 2rem;
    }
    .container-text {
        /* width: 45%; */
        padding-left: 2rem;
        font-size: 1rem;
        padding-top: 5rem;
    }
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        color: #FFFFFF;
        font-size: 0.9rem;
    }
    .copyright {
        font-size: 1rem;
    }
    .fa {
        color: #000000;
        background-color: #FFFFFF;
    }
    #burger_checkbox {
        display: inline-block;
    }
    input[type="checkbox"]:not(:checked)+ul {
        display: none;
    }
    input[type="checkbox"]:checked+ul {
        display: flex;
    }
    ul {
        display: flex;
        flex-direction: row;
    }
    ul {
        flex-direction: column;
    }
    /* Gestion de l'affichage du menu */
    input[type="checkbox"]:not(:checked)~ul {
        display: none;
    }
    input[type="checkbox"]:checked~ul {
        display: flex;
    }
    /* Gestion de la checkbox */
    input[type="checkbox"]+label:before {
        font-family: FontAwesome;
        font-size: 30px;
    }
    input[type="checkbox"]+label:before {
        content: "\f0c9";
    }
    input[type="checkbox"]:not(:checked)+label:before {
        content: "\f0c9";
    }
    input[type="checkbox"]:checked+label:before {
        content: "\f00d";
    }
    .button-sub input {
        width: 70%;
    }
    .button-sub {
        margin: 0 auto;
        text-align: center;
    }
}