* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
}

.nav-logo {
    width: 277px;
    height: 49, 86px;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.topmenu a {
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
}

.topmenu li {
    display: inline;
    margin: 2% 0;
    padding: 1% 0;
    text-align: right;
    line-height: 4rem;
    font-weight: 700;
    list-style-type: none;
}

.topmenu li {
    padding: 1rem
}

.topmenu li:hover {
    text-decoration: underline;
    background-color: #FE142F;
    color: #FFFFFF;
    border-radius: 0.5rem;
}

.topmenu li a:hover {
    color: #FFFFFF
}

.container-main {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: #232323;
    color: #FFFFFF;
    /* padding:2rem; */
    border-radius: 0.5rem;
}

.container-left {
    /* width:40%; */
    z-index: 2;
}

.container-title {
    /* width:55%; */
    font-size: 3.5rem;
    padding: 2.5rem;
}

.container-text {
    /* width:45%; */
    padding-left: 2rem;
    font-size: 1.7rem;
    padding-top: 18rem;
}

.container-right {
    /* width:60%; */
}

.container-right img {
    border-radius: 0.5rem;
}

.title {
    width: 1000px;
    position: absolute;
}

.button {
    background-color: #FE142F;
    color: #FFFFFF;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 190px;
    margin-top: 3rem;
    margin-left: 2rem;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
}

/********* Modal ***************/

input[type=text],input[type=email],input[type=date],input[type=number],  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 30%;
    background-color: #FE142F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    

  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .form{
    border-radius: 5px;
    background-color: #232323;
    padding: 20px;
    font-family: 'DM Sans', sans-serif;
  }
  .button-sub input{
      text-align: center;
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/*********media queries**********/